.linje{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom-style: solid;
}
#myCanvas {
    width: 100%;
    height: auto;
    max-width: 500px;
}
p{
    margin-top: 0px;
    text-align: justify;
    margin-bottom: 0px; 
}
li{
    margin-top: 0px;
    text-align: justify;
    margin-bottom: 0px; 
}
ul{
    margin-top: 0px;
    text-align: justify;
    margin-bottom: 0px; 
}
header{
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
}
body{
    margin: 0;
}

