/*Navigation bar*/
nav.navigationbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    float: left;
}
nav.navigationbar a{
    display: block;
    color: white;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}
p{
    margin-top: 0px;
    text-align: justify;
    margin-bottom: 0px; 
}
li{
    margin-top: 0px;
    text-align: justify;
    margin-bottom: 0px; 
}
ul{
    margin-top: 0px;
    text-align: justify;
    margin-bottom: 0px; 
}
header{
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
}
body{
    margin: 0;
}